.App {

}

.section-title {
  color: #4B56D2;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #472183;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App-link {
  color: #61dafb;
}

.App-title {
  color: #F1F6F5;
  font-weight: bolder;
  font-size: 2rem;

}

.App-subtitle {
  color: #F1F6F5;
  font-weight: lighter;
  font-size: 1rem;
}

/* Color Palette */
/* https://colorhunt.co/palette/4721834b56d282c3ecf1f6f5 */
.mapboxgl-canvas {
  position: inherit !important;
  /* height: 50% !important; */
}
